html {height: 100%; width: 100%}
  
body {font-family: "Montserrat"; background-color: white; color: black; margin: 0px}

h1 {color: Black; text-align: center; padding: 15px}

.navbar {
  background-color: lightgray; 
  overflow: hidden; 
  position: sticky; 
  top: 0;
  box-shadow: 0px 2px 4px darkgray;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {background-color: darkslategray; color: white}

.userbar {
  background-color: lightgray;
  font-size: 16px;
  text-align: center;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.p1 {
  text-align: center;
  border-style: solid;
  border-color: white;
  margin-left: 100px; margin-right: 100px; margin-top: 20px; margin-bottom: 20px;
  background-color: lightgray;
  border-radius:10px;
}

.central {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.alignleft {
  display: flex;
  justify-content: left;
  align-items: left;
}

.log {font-size: 10px; color: black}

.loginbutton {
  background-color: gray;
  border-radius: 5px;
  border-style: None;
  color: black;
  padding: 6px 14px;
  font-size: 16px;
  font-weight: bold;
}

.loginbutton:hover {
  background-color: darkslategray;
  color: white;
  cursor: pointer;
  transition-duration: 0.2s;
}

.slink_button {
  color: blue;
  text-decoration: none;
  font-size: 12px;
}

.slink_button:hover {
  color: darkblue;
  text-decoration: underline;
  transition-duration: 0.2s;
}

.button2 {
  background-color: white;
  border-radius: 6px;
  color: black;
  padding: 10px 24px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Montserrat";
}

.button2:hover {
  background-color: red;
  color: white;
  transition-duration: 0.3s;
}

.button3 {
  background-color: white;
  border-radius: 6px;
  color: black;
  padding: 10px 24px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Montserrat";
  width: 190px;
  text-align: center;
  margin: auto;
}

.button3:hover {
  background-color: orange;
  color: white;
  transition-duration: 0.3s;
}

.classborder {
  background-color: black;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  padding: 20px;
  color: white;
  width: 600px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 40px;
}

.title {
  color: white;
  font-size: 20px;
}

.subtitle {
  color: white;
  font-size: 16px;
}

.rating {
  background-color: white; 
  color: black; 
  padding: 5px; 
}

.t1 {
  table{  
      border: 1px solid #ddd;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
      border-collapse: collapse;
    th, td {
      width: 320px;
      height: 20px;
      padding: 15px;
    }
}

.t0 {
  background-color: black;
  color: white;
}
.t3 {
  background-color: white;
  color: black;
}