html {height: 100%; width: 100%}
  
body {
  font-family: "Montserrat"; 
  background-color: white;
  color: black; 
  margin: 0px;
}

h1 {
  color: Black; 
  text-align: center; 
  padding: 15px;
}

.navbar {
  background-color: lightgray; 
  overflow: hidden; 
  position: sticky; 
  top: 0; 
  box-shadow: 0px 2px 4px darkgray;
}

.navbar a {
  float: left; 
  color: black; 
  text-align: center; 
  padding: 12px 14px; 
  text-decoration: none; 
  font-size: 17px;
}

.navbar a:hover {
  background-color: darkslategray; 
  color: white;
}

.userbar {
  background-color: lightgray; 
  font-size: 16px; 
  text-align: center; 
  margin: 20px; 
  padding: 10px; 
  border-radius: 5px;
  position: relative;
}

.background {
  margin: 20px 200px; 
  background-color: lightgray; 
  border-radius:10px;
}

.central {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: auto;
}

.horizontal {
  display: flex;
  justify-content: space-evenly; 
  padding: 50px; 
  margin: 0px 200px;
}

.sectionrectangle {
  height: 350px; width: 300px;
  display:flex;
  background-color: lightgray;
  border-radius: 20px;
  }

.vertical-align {
  display: flex; 
  align-items: center; 
  flex-direction: column; 
  justify-content: center
}

.loginbutton {
  background-color: gray;
  border-radius: 5px;
  border-style: None;
  color: black;
  padding: 6px 14px;
  font-size: 16px;
  font-weight: bold;
}

.loginbutton:hover {
  background-color: darkslategray;
  color: white;
  cursor: pointer;
  transition-duration: 0.2s;
}

.button1 {
  background-color: lightgray;
  border-radius: 6px;
  color: black;
  padding: 10px 24px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Montserrat";
}

.button1:hover {
  background-color: darkslategray; 
  color: white; 
  transition-duration: 0.3s;
}

.button2 {
  background-color: lightgray;
  border-radius: 6px;
  border-color: white;
  border-style: solid;
  color: black;
  padding: 10px 24px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Montserrat";
}

.button2:hover {
  background-color: darkslategray;
  color: white; 
  transition-duration: 0.3s;
}

.slink_button {
  color: blue; 
  text-decoration: none; 
  font-size: 12px;
}

.slink_button:hover {
  color: darkblue; 
  text-decoration: underline; 
  transition-duration: 0.2s;
}

.classborder {
  background-color: black;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  padding: 20px;
  color: white;
  width: 600px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 40px;
}

.title {
  color: white; 
  font-size: 20px;
}

.subtitle {
  color: white; 
  font-size: 16px;
}

.section {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background-color: lightgray;
}

.wide-section {
  margin: 0 10px; 
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.retangulinho {
  width: 200px;
  margin: 20px auto;
  padding: 15px;
  background-color: lightgray;
  border-radius: 10px;
  text-align: center;
}

.divretangulo{
  display:flex;
  justify-content: center;
}

.retanguloGrande{
  width:700px;
  height:300px;
  background-color:lightgray;
  border-radius: 10px;
  justify-content: space-evenly; 
  text-align: right;
  display: flex;
  flex-direction: column;
}

.linhaDisciplinas{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgrey;
  color:lightgrey
}

.listas{
  display: flex;
  flex-direction: column;
}

.disciplina{
  width:250px;
  height:100px;
  background-color: gray;
  border-radius: 10px;
  place-items: center;
  align-items: center;
}

.progresso{
  width:100px;
  height:10px;
  background-color:lightgray;
  border-radius: 10px;
  text-align: right;
  align-items: center;
}

.container-grid {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-auto-rows: minmax(200px, auto);
  row-gap: 50px;
  border-radius: 15px;
  width: 800px;
  background-color: lightgray;
  border: 3px ;
  justify-content: space-around;
  margin: 10px auto;
  justify-items: center;
  align-items: center;
  padding: 30px 0;
}

.card {
  width:250px;
  height: 200px;
  border-radius: 10px;
  padding: 5px 20px;
  background-color: gray;
  margin: 5px;
  text-align: center;
  box-shadow: 0px 2px 4px darkgray;
  background-size: cover;
  background-position: center;
  & a {
    text-decoration: none;
    width: 250px;
    color: black;
    margin: 150px 0px;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    &:hover {
      background-color: darkslategray; 
      color: white; 
      transition-duration: 0.3s;
    }
  }
}

.container-exam {
  display: flex;
  flex-wrap: wrap;
  background-color:lightgray;
  border: 3px solid black;
  border-radius: 20px;
  width: 90%;
  margin: 20px auto;
  padding: 30px;
  & div {
    font-size: 1rem;
  }
}

.exam {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 1000px;
  border: 3px solid black;
  width: 1000px;
  border-radius: 10px;
  padding: 20px;
  /* background-color: rgb(165, 165, 165); */
  place-items: center;
  align-items: center;
  margin: 15px auto;
  text-align: center;
  box-shadow: 0px 2px 4px darkgray;
}


.removeCourse {
  background-color: rgba(227, 51, 51, 0.741);
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  transition: background-color 0.3s cubic-bezier(0.31, 0.09, 0.46, 1.04);
  &:hover {
    background-color: rgb(228, 124, 124);
  }
}

.addFavorite {
  background-color: aqua;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  transition: background-color 0.3s cubic-bezier(0.31, 0.09, 0.46, 1.04);
  &:hover {
    background-color: rgb(150, 255, 255);
  }
}

.divider {
  width: 95%;
  margin: 5px auto;
  border-top: 4px solid rgb(69, 68, 68);
  border-radius: 3px;
}