{% extends "layout.html" %}

{% load static %}

{% block titulo %}
  Material Didático
{% endblock %}

{% block main %}

  <div class="userbar">
    Aulas / Listas - {{course.name}}
  </div>

  <div class="container central" style="display:flex;  flex-direction: column;width: 700px;border:gray">
    <br>
    {%for topic in topics%}
    {% for video in videos %}
      <h4 class="card central"style="border: gray;height: 25px;">{{video.name}}</h4>
      <br>
      <div class="linhaDisciplinas"style=  "width:500px;border-radius:10px;border:20px solid lightgray;background-color: lightgrey;">
        
        <iframe style="border: 5px solid black; border-radius: 5px" width="300" height="170" 
      src="{{video.link}}" title="{{video.name}}" frameborder="0" allow="accelerometer; 
      autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class="listas">
          <a href="/disciplinas/{{ course.name }}/aulas&listas/{{topic.name}}/">{{topic.name}}</a>
        </div>
      </div>
      <br>
    {%endfor%}
    {%endfor%}
  </div>
  <br>
{% endblock %}