{% extends "layout.html" %}

{% load static %}

{% block titulo %}
  Material Didático
{% endblock %}

{% block main %}

  <div class="userbar">
    <a style="position: absolute; left: 0; padding-left: 15px; text-decoration: none; color:black;" 
    href="/disciplinas/{{discipline.name}}">&lt;&lt; Voltar</a>
    <span style="align-items:central; font-weight: bold">Aulas / Listas - {{discipline.name}}</span>
    <a style="position: absolute; right: 0; padding-right: 15px; text-decoration: none; color:black;" 
    href="/disciplinas/{{course.name}}/provas">Provas &gt;&gt;</a>
  </div>

  <div class="container central" style="display:flex;  flex-direction: column;width: 700px;border:gray">
    {% for topic in topics %}
        <h4 class="card central"style="border: gray;height: 25px; width: 350px; padding: 5px;">{{topic.name}}</h4>

        <div class="linhaDisciplinas" style="width:500px;border-radius:10px;border:20px solid lightgray;background-color: lightgrey; margin-bottom: 30px;">
          {% for video in topic.video_set.all %}
            <iframe style="border: 5px solid black; border-radius: 5px" width="300" height="170" 
            src="{{video.link}}" title="{{video.name}}" frameborder="0" allow="accelerometer; 
            autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          {% endfor %}
          <div class="listas">
            <a style="text-align: center;" href="/disciplinas/{{ discipline.name }}/aulas&listas/{{topic.name}}/">{{topic.name}}</a>
          </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}