{% extends "layout.html" %}

{% load static %}

{% block main %}
<link href="{% static 'styles.css'%}" rel="stylesheet" type="text/css" />

<h1 style="margin-bottom: 5px">Buscar Provas</h1>
  <p class="central" style="text-align: center; width: 900px; margin-bottom: 40px">
    Para achar uma prova antiga, basta escrever o código da disciplina seguido da prova que você deseja. 
    Por exemplo, se você deseja acessar a P2 de Modelagem e Programação, basta escrever CTC4002-P2. Em disciplinas
    que utilizam Maple, como Cálculo, basta acrescentar um "m" no final, isto é, MAT4161-P1m ou MAT4161-P1 
    para acessar, respectivamente, as provas com e sem maple.
  </p>

<form class="central search-bar" style="margin:40px" method='GET'>
  {{formulario.as_p}}
      <button class="button3" role="button">Buscar</button>  
</form>

{% if resultado %}
<h2 class="central">Resultados</h2>
<ul> {% for Exam in resultado %}
    <div class="container">
        <span class="central" style="font-size: 20px">{{ Exam.name }} - {{ Exam.year }}.{{ Exam.semester }}</span>
        <div class="horizontal">
        <p><a href="/media/{{ Exam.file }}" target="_blank" rel="noopener noreferrer">Prova</a></p>
          <iframe style="margin-top: 45px; margin-bottom: 30px; border: 10px solid black; border-radius: 5px" width="400" height="400" 
          src="{{ Exam.video.link}}" title="Projeto PUC+" frameborder="0" allow="accelerometer; 
          autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
  {% endfor %} </ul> 
{% else %}
<p class="central"> Nenhum resultado encontrado </p>
{% endif %}
</div>
{% endblock %}

