{% extends "layout.html" %}

{% load static %}

{% block titulo %}
  Buscar Provas
{% endblock %}

{% block main %}
<link href="{% static 'styles.css'%}" rel="stylesheet" type="text/css" />

<h1 style="margin-bottom: 5px">Buscar Provas</h1>
  <p class="central" style="text-align: center; width: 900px; margin-bottom: 40px">
    Para achar uma prova antiga, basta escrever o código da disciplina seguido da prova que você deseja. 
    Por exemplo, se você deseja acessar a P2 de Modelagem e Programação, basta escrever CTC4002-P2. Em disciplinas
    que utilizam Maple, como Cálculo, basta acrescentar um "m" no final, isto é, MAT4161-P1m ou MAT4161-P1 
    para acessar, respectivamente, as provas com e sem maple.
  </p>

<form class="central search-bar" style="margin:40px" method='GET'>
  {{formulario.as_p}}
      <button class="button3" role="button">Buscar</button>  
</form>

{% if resultado %}
<h2 class="central" style="margin: 70px 0px 10px 0px">Resultados</h2>

<div style="display: flex; justify-content: center; flex-wrap: wrap; margin: auto; gap: 20px">
  {% for exam in resultado %}
    <div style="display: flex; align-items: center; flex-direction: column">
      <p style="font-size: 20px; margin-bottom:10px"> {{ exam.year }}.{{ exam.semester }}</p> 
      <div class="sectionrectangle vertical-align">
        <iframe style="margin-top: 10px; margin-bottom: 20px; border: 10px solid black; border-radius: 5px" width="200" height="200" 
        src="{{ exam.video.link}}" title="Projeto PUC+" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <span><a class="slink_button" style="font-size: 16px" 
        href="/media/{{ exam.file }}" target="_blank" rel="noopener noreferrer">{{ exam.name }}</a></span>
      </div>
    </div>
  {% endfor %}
</div>  

{% else %}
<p class="central"> Nenhum resultado encontrado </p>
{% endif %}
<br>
</div>

{% endblock %}

