{% extends 'layout.html' %}

{% load static %}

{% block titulo %}
    Disciplinas
{% endblock %}

{% block main %}
    <h1>Disciplinas oferecidas</h1>
    
    <div class="container-grid">
        {% for disciplina in disciplinas %}
            {% if disciplina.image %}
            <div class="card" 
            style="background-image: url('{{disciplina.image.url}}');">
            {% else %}
            <div class="card">
            {% endif %}
                <div class="central">
                    <a href="{{ disciplina.name }}">{{ disciplina.name }}</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}