{% extends "layout.html" %}

{% load static %}

{% block titulo %}
    Disciplina
{% endblock %}

{% block main %}
    <div class="userbar">
        <a class="" style="position: absolute; left: 0; padding-left: 15px; text-decoration: none; color:black" 
        href="/disciplinas/"><< Disciplinas</a>
        <span style="align-items:central">{{ course.name }}</span>
    </div>
    
    <div class="horizontal" style="margin: 30px 0px 10px 0px;">
        
        <div class="vertical-align">

            {% comment %} Fazer Matrícula em Todos? {% endcomment %}
            <p style="text-align: center; width:350px; font-weight: bold; margin: 5px; font-size: 18px">BÁSICO</p>
            {% if request.user.is_authenticated %}
                {% if not course.usercourse_set.all %}
                    <div class="section wide-section" 
                    style="background-image: url('/media/backgrounds/Basic-Background-BW.jpg');background-size: cover; background-position: center;">
                    {% comment %} Fazer GrayScale Apenas na Imagem {% endcomment %}
                    <form action="/userCourse/create/" method="post">
                        {% csrf_token %}
                        <input name="course" value="{{ course.name }}" hidden>
                        <button class="button2" type="submit">Matricular-se no curso</button>
                    </form>
                    </div>
                {% else %}
                <a href="/disciplinas/{{ course.name }}/aulas&listas/">
                    <div class="section wide-section" 
                    style="background-image: url('/media/backgrounds/Basic-Background.jpg');background-size: cover; background-position: center;">
                    </div>
                </a>
                {% endif %}
            {% else %}
            <a href="/users/login/">
                <div class="section wide-section" 
                style="background-image: url('/media/backgrounds/Basic-Background.jpg');background-size: cover; background-position: center;">
                </div>
            </a>
            {% endif %}
            <p style="text-align: center; width:350px">Aprenda sobre todos cobrados na disciplina por meio de 
                videoaulas e listas de exercícios para dominar matéria!</p>
        </div>
        
        <div class="vertical-align">
            <p style="text-align: center; width:350px; font-weight: bold; margin: 5px; font-size: 18px">AVANÇADO</p>
            <a href="/disciplinas/{{ course.name }}/aulas&listas/">
                <div class="section wide-section" 
                style="background-image: url('/media/backgrounds/Advanced-Background.jpg');background-size: cover; background-position: center;">
                </div>
            </a>
            <p style="text-align: center; width:350px">Se desafie ao aprender tópicos não ensinados nas aulas e 
                amplie seus conhecimentos de forma independente!</p>
        </div>

        <div class="vertical-align">
            <p style="text-align: center; width:350px; font-weight: bold; margin: 5px; font-size: 18px">PROVAS ANTERIORES</p>
            <a href="/disciplinas/{{ course.name }}/provas/">
                <div class="section wide-section" 
                style="background-image: url('/media/backgrounds/Exams-Background.png');background-size: cover; background-position: center;">
                </div>
            </a>
            <p style="text-align: center; width:350px">Confira como a disciplina foi cobrada nos anos anteriores para
                treinar com conteúdos da própria PUC-Rio!
            </p>
        </div>

    </div>

{% endblock %}