{% extends "layout.html" %}

{% load static %}

{% block titulo %}
    Disciplina
{% endblock %}

{% block main %}
    <div class="userbar">
        {{ course.name }}
    </div>
    <img class="central" style="width: 300px; padding: 80px 0px 20px 0px" src="{% static 'LogoPUCMais.png' %}">

    <div class="horizontal">
        <div class="section wide-section">
            {% if request.user.is_authenticated %}
                {% if not course.usercourse_set.all %}
                    <form action="/registerCourse/" method="post">
                        {% csrf_token %}
                        <input name="course" value="{{ course }}" hidden>
                        <button type="submit">Matricular-se no curso</button>
                    </form>
                {% else %}
                    <p style="font-weight: bold; font-size: 24px; text-align: center; color:black">
                        <a href="/disciplinas/{{ course.name }}/aulas&listas/">Básico</a>
                    </p>
                {% endif %}
            {% else %}
                <p style="font-weight: bold; font-size: 24px; text-align: center; color:black">
                    <a href="/users/login">Cadastre-se</a>
                </p>
            {% endif %}
            <div style="justify-content: center;">
                Aprenda sobre todos os tópicos da disciplinas por meio de videoaulas e listas de exercícios, para que você fique com 10 na matéria!
            </div>
        </div>
        <div class="section wide-section">
            <p style="font-weight: bold; font-size: 24px; text-align: center"><a href="/disciplinas/{{ course.name }}/aulas&listas/">Avançado</a></p>
            <div style="justify-content: center;">
                Se desafie ao aprender tópicos não ensinados nas aulas e amplie seus conhecimentos de forma independente!
            </div>
        </div>
    </div>

    <div class="section retangulinho">
        <p style="font-weight: bold; font-size: 24px; text-align: center; color:black"><a href="/disciplinas/{{ course.name }}/provas/">Provas Antigas</a></p>
    </div>
    <br>
{% endblock %}