{% extends "layout.html" %}

{% load static %}

{% block main %}


<h1>FAQ</h1>
<img class="central" style="width: 300px; padding: 80px 0px 20px 0px" src="{% static 'LogoPUCMais.png' %}">
<div class="background">
  <div class="p1">
  <p style="justify-content: center">
    <b>Aqui você encontra respostas para as dúvidas mais comuns sobre nossos serviços. Se não encontrar o que procura, entre em contato com nossa equipe — estamos prontos para ajudar!</b>
  </p>
  </div>
</div>

<div class="background">
  <p><strong>1. Como faço login no aplicativo?</strong></p>
</div>
<div class="background answer">
  <p>Para fazer login, você deve utilizar seu e-mail e a senha cadastrada. Caso seja seu primeiro acesso, clique em "Criar Conta" e siga as instruções para configurar sua senha.</p>
</div>

<div class="background">
  <p><strong>2. É possível baixar os materiais para estudar offline?</strong></p>
</div>
<div class="background answer">
  <p>Depende do material. Para as provas, como estão disponíveis como Arquivo PDF, basta clicar em "Link da Prova" e depois clicar no primeiro botão do canto superior direito. Infelizmente, os vídeos estão disponíveis apenas no Youtube, não havendo um modo de baixá-los diretamente por nosso site.</p>
</div>

<div class="background">
  <p><strong>3. Como encontro Provas antigas específicas?</strong></p>
</div>
<div class="background answer">
  <p>Para isso, vá na página principal e clique no botão "Achar Prova", ou clique nesse link. Lá, basta você digitar o código da matéria seguido pela prova que você deseja. Por exemplo, para achar a P1 de Física, basta digitar FIS4001-P1. Você também consegue filtrar as provas com base em seus anos.</p>
</div>

<div class="background">
  <p><strong>4. Como faço para me matricular em uma disciplina?</strong></p>
</div>
<div class="background answer">
  <p>Para isso, clique em Matricular-se no curso depois de entrar na Disciplina. Você consegue editar seus cursos favoritados e matriculados ao entrar no seu perfil, clicando na aba "Minha Página" no canto superior esquerdo ou acessando aqui.</p>
</div>

<div class="background">
  <p><strong>5. Por que não consigo acessar um material específico?</strong></p>
</div>
<div class="background answer">
  <p>Isso pode acontecer por dois motivos:</p>
  <ul>
    <li>O material foi removido ou está sendo atualizado.</li>
    <li>Você não está logado. Diversas abas do nosso site exigem que o usuário esteja logado para que ele consiga acessar.</li>
  </ul>
</div>

<div class="background">
  <p><strong>6. Posso acessar o aplicativo em mais de um dispositivo?</strong></p>
</div>
<div class="background answer">
  <p>Sim, você pode fazer login no aplicativo em diferentes dispositivos, como celular e tablet, usando o mesmo e-mail e senha.</p>
</div>

<div class="background">
  <p><strong>7. Posso acessar o aplicativo em mais de um dispositivo?</strong></p>
</div>
<div class="background answer">
  <p>Sim, você pode fazer login no aplicativo em diferentes dispositivos, como celular e tablet, usando o mesmo e-mail e senha.</p>
</div>

<div class="background">
  <p><strong>8. Como sei se a dificuldade de uma disciplina?</strong></p>
</div>
<div class="background answer">
  <p>Embaixo de cada disciplina, há um nível de dificuldade 0 ou 1. Eles significam, respectivamente, matérias básicas, ou seja, matérias que serão cobradas ao longo do curso, e matérias avançadas, caso queira se desafiar a aprender matérias novas e impressionar todos ao seu redor!</p>
</div>

<div class="background">
  <p><strong>9. O que faço se encontrar um conteúdo desatualizado ou errado?</strong></p>
</div>
<div class="background answer">
  <p>Para qualquer problema ou dúvida relacionado ao nosso site o qual não está sendo respondida nessa página, entre em contato conosco, mandando e-mail para PucMais@blablabla.com. Todas suas dúvidas serão respondidas.</p>
</div>


{% endblock %}
