{% extends "layout.html" %}

{% load static %}

{% block main %}

<h1 style="margin-bottom: 5px">Dúvidas Frequentes</h1>
<p class="central" style="text-align: center; width: 800px">
  Aqui você encontra respostas para as dúvidas mais comuns sobre nossos serviços. 
  Se não encontrar o que procura, entre em contato com nossa equipe — estamos prontos para ajudar!
</p>
<br>
<div class="container" style="text-align: justify">
  <ol>
    <li>
      <strong>Como faço login no aplicativo?</strong>
      <br>
      Para fazer login, você deve utilizar seu e-mail e a senha cadastrada. 
      Caso seja seu primeiro acesso, clique em "Criar Conta" e siga as instruções para configurar sua senha.
    </li>
    <br>
    <li>
      <strong>É possível baixar os materiais para estudar offline?</strong>
      <br>
      Depende do material. Para as provas, como estão disponíveis como Arquivo PDF, 
      basta clicar em "Link da Prova" e depois clicar no primeiro botão do canto superior direito. 
      Infelizmente, os vídeos estão disponíveis apenas no Youtube, não havendo um modo de baixá-los 
      diretamente por nosso site.
      </li>
    <br>
    <li>
      <strong>Como encontro Provas antigas específicas?</strong>
      <br>
      Para isso, vá na página principal e clique no botão "Achar Prova", ou clique nesse link. 
      Lá, basta você digitar o código da matéria seguido pela prova que você deseja. 
      Por exemplo, para achar a P1 de Física, basta digitar FIS4001-P1. Você também consegue filtrar 
      as provas com base em seus anos.
      </li>
    <br>
    <li>
      <strong>Como faço para me matricular em uma disciplina?</strong>
      <br>
      Para isso, clique em Matricular-se no curso depois de entrar na Disciplina. 
      Você consegue editar seus cursos favoritados e matriculados ao entrar no seu perfil, 
      clicando na aba "Minha Página" no canto superior esquerdo ou acessando aqui.
      </li>
    <br>
    <li>
      <strong>Por que não consigo acessar um material específico?</strong>
      <br>
      Isso pode acontecer por dois motivos:
      <ul>
        <li>O material foi removido ou está sendo atualizado.</li>
        <li>Você não está logado. Diversas abas do nosso site exigem que o usuário esteja logado para que ele consiga acessar.</li>
      </ul>
      </li>
    <br>
    <li>
      <strong>Posso acessar o aplicativo em mais de um dispositivo?</strong>
      <br>
      Sim, você pode fazer login no aplicativo em diferentes dispositivos, como celular e tablet, 
      usando o mesmo e-mail e senha.
      </li>
    <br>
    <li>
      <strong>Como sei se a dificuldade de uma disciplina?</strong>
      <br>
      Embaixo de cada disciplina, há um nível de dificuldade 0 ou 1. Eles significam, respectivamente, 
      matérias básicas, ou seja, matérias que serão cobradas ao longo do curso, e matérias avançadas, 
      caso queira se desafiar a aprender matérias novas e impressionar todos ao seu redor!
      </li>
    <br>
    <li>
      <strong>O que faço se encontrar um conteúdo desatualizado ou errado?</strong>
      <br>
      Para qualquer problema ou dúvida relacionado ao nosso site o qual não está sendo respondida nessa página, 
      entre em contato conosco, mandando e-mail para pucmais@gmail.com. Todas suas dúvidas serão respondidas.
      </li>

</div>

<br>

{% endblock %}
