<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <link href="{% static 'style.css' %}" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Home</title>
  <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">  
</head>

<body>

<div class="navbar">
  <a href="/">Home</a>
  <a href="/provas/">Provas</a>
  <a href="/aulas/">Disciplinas</a>
  <a href="/aulas/">Minha Página</a>
  <a style="float: right" href="/users/logout/">Sair</a>
</div>

<div class="userbar">
  {% if request.user.is_authenticated %}
  Bem-Vindo, {{request.user.username}}!
  {% endif %}
</div>

<img class="central" style="width: 300px; padding: none" src="{% static 'LogoPUCMais.png' %}">

<div class="p1">
  <p>Bem-vindo ao MVP da PUC+, uma plataforma de estudos de alunos da PUC-Rio, para alunos da PUC-Rio</p>
  <p>Ainda em fase de teste, esta plataforma é direcionada a alunos do CBCTC</p>
</div>

</body>


</html>