{% extends "layout.html" %}

{% load static %}

{% block titulo %}
    Perfil
{% endblock %}

{% block main %}
    <!-- <style>
        .section#nome {
            height: 60px;
        }

        .section#descricao {
            height: 100px;
        }

        .section#disciplinas {
            height: 150px;
            position: relative;
        }
    </style> -->

    <div class="userbar">
        Bem vindo, {{ request.user.username }}!
    </div>
    <div class="container-exam" style="justify-content: space-around; text-align: center">
        <span style="width: 100%; font-size: 20px; margin-bottom: 30px;"><u>Detalhes da conta</u></span>
        <div style="border: 3px solid black; border-radius: 10px; padding: 5px 10px;">
            <h2>Email:</h2>
            <p style="font-size: 1.3rem;">{{ request.user.email }}</p>
        </div>
        <div style="border: 3px solid black; border-radius: 10px; padding: 5px 10px;">
            <h2>First name:</h2>
            <p style="font-size: 1.3rem;">
                {% if request.user.first_name %}
                    {{ request.user.first_name }}
                {% else %}
                    Not defined
                {% endif %}
            </p>
        </div>
        <div style="border: 3px solid black; border-radius: 10px; padding: 5px 10px;">
            <h2>Username:</h2>
            <p style="font-size: 1.3rem;">{{ request.user.username }}</p>
        </div>
    </div>
    
    <div class="container-exam" style="justify-content: space-around; text-align: center">
        <span style="font-size: 20px; margin-bottom: 10px; width: 100%;">Disciplinas Favoritas</span>
        {% for course in userCourse %}
            {%if course.favorite == 1 %}
                <div style="border: 3px solid black; border-radius: 15px; padding:10px">
                    <p>{{ course.course.name }}</p>
                    <p>Dificuldade: {{ course.course.dificulty }}</p>
                    <p class="central">Status: {{ course.status }}</p>
                    <input hidden value="{{ course.id }}" required name="courseId">
                    <form action="/userCourse/favorite/" method="post">
                        {% csrf_token %}
                        <input hidden value="{{ course.id }}" required name="courseId">
                        <button type="submit">Remover favorito</button>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="container-exam" style="justify-content: space-around; text-align: center">
        <span style="font-size: 20px; margin-bottom: 10px; width: 100%;">Minhas Disciplinas</span>
        {% for course in userCourse %}
            <div style="border: 3px solid black; border-radius: 15px; padding:10px">
                <p>{{ course.course.name }}</p>
                <p>Dificuldade: {{ course.course.dificulty }}</p>
                <p class="central">Status: {{ course.status }}</p>
                <form action="/userCourse/delete/">
                    <input hidden value="{{ course.id }}" required name="courseId">
                    <button type="submit">Remover curso</button>
                </form>
                <form action="/userCourse/favorite/" method="post">
                    {% csrf_token %}
                    <input hidden value="{{ course.id }}" name="courseId" required>
                    <button type="submit">Adicionar Favorito</button>
                </form>
                <!-- <form action="/userCourse/favorite/" method="post" >
                    {% csrf_token %}
                    <input hidden value="{{ course.id }}" required name="courseId">
                    <button type="submit">Adicionar favorito</button>
                </form> -->
            </div>
        {% endfor %}
    </div>
    <!-- <div class="section">
        Descrição (email, informações da conta, etc)
    </div> -->
    <!-- <div class="section">
        Minhas Disciplinas (Progresso)
    </div> -->
    <img class="central" style="width: 300px; padding: 80px 0px 20px 0px" src="{% static 'LogoPUCMais.png' %}">
{% endblock %}