{% extends "layout.html" %}

{% load static %}

{% block titulo %}
    Perfil
{% endblock %}

{% block main %}
    <h1>Detalhes da conta</h1>
    <div class="container horizontal">
        <p><b>Usuário: </b>{{ request.user.username }}</p>    
        <p><b>Email: </b>{{ request.user.email }}</p>
    </div>
    
    <hr class="divider">
    <h2 class="central" style="margin-bottom: 10px">Disciplinas Favoritas</h2>
    <div class="horizontal-align">
        {% for course in userCourse %}
            {%if course.favorite == 1 %}
                <div class="card2"style="width:330px;">
                    <p><b><a class="slink_button" style="font-size:16px; color:black" href="/disciplinas/{{ course.course.discipline }}/aulas&listas/">{{ course.course.name }}</a></b></p>
                    <p>Dificuldade: {{ course.course.dificulty }}</p>
                    <p class="central">Status: {{ course.status }}</p>
                    <form action="/userCourse/favorite/" method="post">
                        {% csrf_token %}
                        <input hidden value="{{ course.id }}" required name="courseId">
                        <button class="removeCourse" type="submit">REMOVER CURSO</button>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <hr class="divider">
    <h2 class="central" style="margin-bottom: 10px;">Minhas Disciplinas</h2>
    <div class="horizontal-align">
        {% for course in userCourse %}
            <div class="card2" style="width:330px">
                <p><b><a class="slink_button" style="font-size:16px; color: black" href="/disciplinas/{{ course.course.discipline }}/aulas&listas/">{{ course.course.name }}</a></b></p>
                <p>Dificuldade: {{ course.course.dificulty }}</p>
                <p class="central">Status: {{ course.status }}</p>
                <div class="horizontal-align">
                    <form action="/userCourse/favorite/" method="post">
                        {% csrf_token %}
                        <input hidden value="{{ course.id }}" name="courseId" required>
                        <button type="submit" class="addFavorite">ADICIONAR FAVORITO</button>
                    </form>
                    <form action="/userCourse/delete/">
                        <input hidden value="{{ course.id }}" required name="courseId">
                        <button class="removeCourse" type="submit">REMOVER CURSO</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- <div class="section">
        Descrição (email, informações da conta, etc)
    </div> -->
    <!-- <div class="section">
        Minhas Disciplinas (Progresso)
    </div> -->
    <img class="central" style="width: 300px; padding: 80px 0px 20px 0px" src="{% static 'LogoPUCMais.png' %}">
{% endblock %}