{% extends "layout.html" %}

{% load static %}

{% block titulo %}
  Provas Antigas
{% endblock %}

{% comment %} Fazer com que seja a página de uma prova antiga específica {% endcomment %}

{% block main %}

<div class="central" style="font-size: 30px; font-weight: bold; padding-top: 30px">
  Provas Anteriores
</div>
<div class="central" style="padding-bottom: 30px; font-size: 20px; font-style: italic">
  Matéria
</div>

{% comment %} Fazer como um for para o banco de dados {% endcomment %}
<div>
<p>Período</p> 
<div class="sectionrectangle vertical-align">
  <iframe style="border: 10px solid black; border-radius: 5px" width="200" height="150" 
  src="https://www.youtube.com/embed/neNw5m9eUjA" title="Projeto PUC+" frameborder="0" allow="accelerometer; 
  autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
</div>
{% endblock %}