{% extends "layout.html" %}

{% load static %}

{% block titulo %}
  Provas Antigas
{% endblock %}

{# Fazer com que seja a página de uma prova antiga específica #}

{% block main %}
  <!-- <div class="central" style="font-size: 30px; font-weight: bold; padding-top: 30px">Provas Anteriores</div>
  <div class="central" style="padding-bottom: 30px; font-size: 20px; font-style: italic">Matéria</div>
  <div style="display: flex; justify-content: center; flex-wrap: wrap; margin: auto; gap: 20px">
    {% for prova in provas %}
      <div style="display: flex; align-items: center; flex-direction: column">
        <p style="font-size: 20px; margin-bottom:10px">{{ prova.year }}.{{ prova.semester }}</p> 
        <div class="sectionrectangle vertical-align">
          <embed src="/media/{{ prova.file }}" width="800px" height="2000px" type="application/pdf">
          <span><a href="/media/{{ prova.file }}" target="_blank" rel="noopener noreferrer">Link da prova</a></span>
          <iframe style="margin-top: 45px; margin-bottom: 30px; border: 10px solid black; border-radius: 5px" width="200" height="200" 
          src="{{ prova.video.link}}" title="Projeto PUC+" frameborder="0" allow="accelerometer; 
          autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <span style="margin: 0px">{{ prova.name }}</span>
        </div>
      </div>
    {% endfor %}
  </div> -->

  <div class="central" style="font-size: 30px; font-weight: bold; padding-top: 30px">Provas Anteriores</div>
  <div class="central" style="padding-bottom: 30px; font-size: 20px; font-style: italic">{{ course_name }}</div>
  {% if provas %}
    <div class="container-exam">
      {% for prova in provas %}
        <div class="exam">
          <span style="font-size: 20px; margin-bottom:40px; text-align: center; width: 100%;">{{ prova.name }} - {{ prova.year }}.{{ prova.semester }}</span>
          <div style="flex-basis: 800px;">
            <embed src="/media/{{ prova.file }}" width="100%" height="500px" type="application/pdf">
            <p><a href="/media/{{ prova.file }}" target="_blank" rel="noopener noreferrer">Link da prova</a></p>
          </div>
          <div class="central">
            <iframe style="margin-top: 45px; margin-bottom: 30px; border: 10px solid black; border-radius: 5px" width="200" height="200" 
            src="{{ prova.video.link}}" title="Projeto PUC+" frameborder="0" allow="accelerometer; 
            autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}