{% extends "layout.html" %}

{% load static %}

{% block titulo %}
  Cadastro
{% endblock %}

{% block main %}

<div class="horizontal" style="margin-left:200px; margin-right:350px;">
<img class="central" style="width: 300px; padding: 80px 0px 20px 0px" src="{% static 'LogoPUCMais.png' %}">
<div class="central" style="flex-direction: column">
{% comment %} Colocar Divisória e {% endcomment %}
  <h1>Novo Usuário</h1>
  
  <form style="font-family: Montserrat; padding: 20px" method="post">
    {% csrf_token %}
    <div class="central">
      <label>
        <b>Nome: </b>&nbsp;
      </label>
      <input type="text" name="username">
    </div>
  
    <br>
  
    <div class="central">
      <label>
        <b>Email: </b>&nbsp;
      </label>
      <input type="email" name="email">
    </div>
  
    <br>
  
    <div class="central">
        <label>
          <b>Senha: </b>&nbsp;
        </label>
        <input type="password" name="password">
      </div>
  
    <br>
    
    <p class="central" style="font-size: 12px"> 
      Já possui conta? 
      &nbsp; <a class="slink_button" href="/users/login/">Login</a>
    </p>
  
    <br>
  
    <input class="loginbutton central" type="submit" value="Cadastrar">
  
  </form>
</div>

</div>

{% endblock %}