{% extends "layout.html" %}

{% load static %}

{% block titulo %}
  Cadastro
{% endblock %}

{% block main %}
  <div class="central" style="flex-direction: column">
    <h1>Novo Usuário</h1>
    
    <form style="font-family: Montserrat; padding: 20px" method="post">
      {% csrf_token %}
      <div class="central">
        <label>
          <b>Nome: </b>&nbsp;
        </label>
        <input type="text" name="username">
      </div>
    
      <br>
    
      <div class="central">
        <label>
          <b>Email: </b>&nbsp;
        </label>
        <input type="email" name="email">
      </div>
    
      <br>
    
      <div class="central">
          <label>
            <b>Senha: </b>&nbsp;
          </label>
          <input type="password" name="password">
        </div>
    
      <br>
      
      <p class="central" style="font-size: 12px"> 
        Já possui conta? 
        &nbsp; <a class="slink_button" href="/users/login/">Login</a>
      </p>
    
      <br>
    
      <input class="loginbutton central" type="submit" value="Cadastrar">
    
    </form>
  </div>
{% endblock %}